<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

## Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

# **Kun Wei's Assignment**

## Exercise 3 - Create a markdown cell for an introduction. (1 pt)

Hello everyone! This is an assignment. I will do my best to finish these exercises.

## Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

- Python
- R
- SQL
- Java
- Julia
- Scala
- C/C++
- JavaScript
- Swift
- Go
- MATLAB
- SAS

## Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

the data science libraries are listed below for python
- NumPy
- Matplotlib
- Pandas
- SciPy
- PyTorch
- Seaborn

## Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

|tool name|description|
|----|----|
|1. Apache Spark|an open source data processing and analytics engine that can handle large amounts of data -- upward of several petabytes, according to proponents.|
|2. D3.js|Another open source tool, D3.js is a JavaScript library for creating custom data visualizations in a web browser.|
|3. IBM SPSS|IBM SPSS is a family of software for managing and analyzing complex statistical data.|
|4. Julia|an open source programming language used for numerical computing as well as machine learning and other kinds of data science applications.|
|5. Jupyter Notebook|An open source web application, Jupyter Notebook enables interactive collaboration among data scientists, data engineers, mathematicians, researchers and other users.|

## Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

- 1. Multiplication. 15 × 15 = 225
- 2. Division. 225 / 5 = 45.
- 3. Addition. 20 + 13 = 33.
- 4. Subtraction. 33 – 45 = -12. Therefore, the result of the arithmetic expression (20 + 13) – 15 × 15 / 5 = -12.
- 5. Addition. 5 + 5 = 10.
- 6. Subtraction. 8 – 2 = 6.
- 7. Multiplication. 10 × 6 = 60.
- 8. Division. 60 / 6 = 10.

## Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

In [1]:
1+1

2

In [2]:
(1+1)*2

4

## Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [3]:
import datetime

In [5]:
now = datetime.datetime.now()

In [6]:
now

datetime.datetime(2024, 8, 25, 1, 39, 11, 247432)

In [10]:
mins = now.minute

In [11]:
hrs = mins/60
hrs

0.65

## Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

A new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course).
In this new cell start with an introductory line titled: 
Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

## Exercise 11 - Create a markdown cell to indicate the Author’s name. (2 pts)

# Author:

Lee Kun Wei

## Exercise 12 - Share your notebook through GitHub (3 pts)

## Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)